body {
    margin: 9px;
    width: 100%;
    background-color: rgb(65, 12, 26) !important;
}

.card-body {
    flex: 7 12o;
    padding: 0rem 1rem;

}

.ml-2 {
 margin:auto

}

.ml-21 {

    margin: -6.5rem  
}

.card {

    background-color: red !important;

}

.disply   {
    display: grid;
}








.diameters {
    height: 100%;
    width: 60%;

    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}





element.style {
    display: flex;
    flex-direction: column;
}

div {
    background-color: blueviolet;





}

.tnp-contener {

    display: flex;
    flex-direction: column;

}



.tnp-contener2 {

    display: flex;
    flex-direction: column;

}

.tnp-contener3 {
    display: grid;
    flex-direction: column;


}

.card-body {
    background-color: aqua;



}

.h20  {

    height: 20px !important


}


.photography {
width : 70%;



}


.asana {

width: 90%;

    
}

.html {

    width: 60%;
}


.progress1{

 height: 20px !important;

}
.progress2 {

    height: 20px !important;

}

.progress3 {

    height: 20px !important;
}
